.highlight{
	border: 1px solid #fef9da;
	background-color: #fff8dd;
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	padding-top: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

.highlight .kn, .highlight .k{
	font-weight: bold;
}

.highlight .mi{
	color: #ff0900;
}

.highlight .nf{
	text-decoration: underline;
	color: #4499ff;
}

.highlight .s{
	color: #1e7819;
	background-color: #d2ffd9;
	font-style: italic;
	
}