@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body{
	font-family: 'Open Sans';
	width: 800 px;
	font-size: 62.5 %;
	margin: 30 px auto;
}

#hi{
	font-weight: bold;
	color: #ff8ef3;
}

#name{
	color: #4499ff;
	font-weight: normal;
}

#chapo{
	color: #beb9bf;
}