@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body{
	font-family: 'Open Sans';
	width: 800 px;
	font-size: 62.5 %;
	margin: 30 px auto;
}

a{
	color: #ff8ef3;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#hi{
	font-weight: bold;
	color: #ff8ef3;
}

#name{
	color: #4499ff;
	font-weight: normal;
}

#chapo{
	color: #beb9bf;
	font-size: 2em;
	padding: 40px 0px;
}

#head{
	font-size: 3em;
	padding: 30px 0px;
}

#main{
	width: 590px;
	float: left;
	padding-right: 10px;
	margin: 0px;
}

#aside{
	margin: 0px;
	width: 200px;
	float: right;
}

#footer{
	clear: both;
	color: #beb9bf;
	margin-top: 1.5em;
	padding-top: 1.5em;
	display: block;
}

#page-content{
	clear: both;
}

.project, #social{
	margin-bottom: 2.5em;
}

.project h2, #social h2{
	color: black;
	font-weight: bold;
	padding-bottom: 1em;
}