@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html {
    margin-top: 0px;
    padding-top: 0px;
}

b, strong {
    font-weight: 600;
}

body {
    font-family: Nunito, sans-serif;
    background-color: #eee;
    margin-top: 0px;
    padding-top: 0px;
}

.container {
    background-color: #fff;
    max-width: 800px;
    margin: 0px auto;
    box-shadow: 0px 0px 5px #ccc;
    padding: 3em;
    font-size: 17px;
    line-height: 22px;
}

.sidebar {
    margin: -3em;
    background-color: #eee;
    padding: 3em;
    margin-bottom: 6em;
}

ul, li {
    list-style: none;
}

ul {
    padding-left: 1em;
}

li {
    margin-bottom: 1.2rem;
}

/* specific markup */
role, thing {
    font-weight: bold;
}

journal, place {
    font-style: italic;
}

date {
    float: right;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 4px;
    margin: -4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    color: #777;
}

