@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#content {
    font-family: "Gentium Plus";
    font-size: 1.15rem;
    color: #101010;

    h1,
    h2,
    h3,
    h4 {
        font-family: "Libre Franklin";
    }

    h2 {
        color: #404040;
        font-variant: small-caps;
        text-transform: lowercase;
        font-weight: 500;
    }

    h3 {
        color: #505050;
        font-weight: 400;
    }
}

html {
    background-color: #f6f6f6;
    margin: 0 0;
    padding: 0 0;
}

body {
    background-color: white;
    max-width: 900px;
    margin: 0px auto;
    padding: 3rem;
}

.entry {
    padding-bottom: 2rem;
}


.thing {
    font-weight: 700;
}

.daterange {
    font-style: italic;
    color: #303030;
}

#header {
    height: 10rem;
    margin-bottom: 5rem;
    vertical-align: middle;

    .information {
        .name {
            font-weight: 700;
        }

        float: left;
        display: block;
        line-height: 2rem;
        font-size: 120%;
        margin: 2rem 0;
    }

    .headshot {
        float: right;
        width: 10rem;
        border-radius: 8rem;
        filter: grayscale(1);
        filter: drop-shadow(0 0 0.2rem black);
    }
}

.publication {
    .author+.author::before {
        content: ", "
    }
    .in {
        font-style: italic;
    }
    a {
        color: #0C6291;
        text-decoration: underline;
        text-decoration-color: #cecece;
        &:hover {
            text-decoration-color: #0C6291;
        }
    }
}