<nav class="navbar">
  <div class="container">
    <ul class="nav-list">
      <li>
        <a href="/"{% if page.title == "Home" %} class="active"{% endif %} title="Home">
          <span class="hicon"><i class="fa fa-fw fa-home"></i>
          </span><span class="text">Home</span>
        </a>
      </li>
      <li>
        <a href="/software/"{% if page.title == "Software" %} class="active"{% endif %} title="Software">
          <span class="hicon"><i class="fa fa-fw fa-terminal"></i>
          </span><span class="text">Software</span>
        </a>
      </li>
      <li>
        <a href="/research/"{% if page.title == "Research" %} class="active"{% endif %} title="Research">
          <span class="hicon"><i class="fa fa-fw fa-flask"></i>
          </span><span class="text">Research</span>
        </a>
      </li>
      <li>
        <a href="/blog/"{% if page.title == "Blog" or page.author %} class="active"{% endif %} title="Blog">
          <span class="hicon"><i class="fa fa-fw fa-bullhorn"></i>
          </span><span class="text">Blog</span>
        </a>
      </li>
      <li>
        <a href="/papers/"{% if page.title == "Papers" %} class="active"{% endif %} title="Papers">
          <span class="hicon"><i class="fa fa-fw fa-file-text-o"></i>
          </span><span class="text">Papers</span>
        </a>
      </li>
      <li>
        <a href="/colophon/"{% if page.title == "Colophon" %} class="active"{% endif %} title="Colophon">
          <span class="hicon"><i class="fa fa-fw fa-info"></i>
          </span><span class="text">Colophon</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
