<h3>Some of the things I do</h3>

<div class="projects_container">
    <table class="projects">
        <tr>
            <td class="img">
                <a href="project_url"><img src="/images/bipy.png" /></a>
            </td>
        
            <td class="desc">
                <div class="bubble">
                    <div class="tip"></div>
                    <strong><a href="http://tpoisot.github.com/bipy/">bipy</a></strong> &mdash; A python module to work on bipartite networks
                </div>
            </td>
        </tr>
        
        <tr>
            <td class="img">
                <a href="project_url"><img src="/images/innge.png" /></a>
            </td>
        
            <td class="desc">
                <div class="bubble">
                    <div class="tip"></div>
                    <strong><a href="http://www.innge.net/">INNGE</a></strong> &mdash; A hub for next-generation ecology
                </div>
            </td>
        </tr>
        
        <tr>
            <td class="img">
                <a href="project_url"><img src="/images/plume.png" /></a>
            </td>
        
            <td class="desc">
                <div class="bubble">
                    <div class="tip"></div>
                    <strong><a href="http://www.plume.info/">Plume!</a></strong> &mdash; A french network of scientific communication
                </div>
            </td>
        </tr>
       
    </table>
</div>