<h3>My Projects</h3>

<div class="projects_container">
    <table class="projects">
        <tr>
            <td class="img">
                <a href="project_url"><img src="/images/bipy.png" /></a>
            </td>
        
            <td class="desc">
                <div class="bubble">
                    <div class="tip"></div>
                    <strong><a href="http://tpoisot.github.com/bipy/">bipy</a></strong> &mdash; A python module to work on bipartite networks
                </div>
            </td>
        </tr>
       
    </table>
</div>