@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic,800italic,800);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

html {
	font-size: 62.5%;
	text-align: left;
	margin: 0px;
	padding: 0px;
	background-color: #efefef;
}

/* Fonts and typography */

it, em{
	font-style: italic;
}

b, strong{
	font-weight: 700;
}

pre{
	font-family: 'Ubuntu Mono';
}

code{
	font-family: 'Ubuntu Mono';
	font-size: 115%;
}

body{
	font-family: 'Open Sans' !important;
	font-weight: 400;
	font-size: 1.6em;
	color: #1f1f1f;
	height:100%;
	margin: 0px;
	padding: 0px;
}

.content{
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	padding: 40px 0px;
}

.footer{
	font-weight: 300;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

a{
	color: #51869c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* Page layout */

.pbody{
	width: 790px;
	margin: 10px auto;
	text-align: justify;
}

.pbody p{
	padding-bottom: 1.7em;
	line-height: 1.4em;
}

.pbody img{
	background-color: rgb(255, 255, 255);
	border: 9px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	padding: 1px;
	max-width: 790px;
	display: block;
	margin: 0px auto;
	margin-bottom: 1em;
}

.pbody h1{
	font-weight: 700;
}

.ptitle, .latest_post h1{
	font-weight: 800;
	font-size: 140%;
	font-family: 'Bree Serif';
}

.postinfo{
	font-weight: 300;
	color: #333;
	margin-bottom: 0.9em;
}

.precontent{
	width: 100%;
	height: 80px;
}

/* Header layour */

.siteinfos{
	width: 790px;
	margin: 20px auto;
}

.siteinfos h1{
	font-weight: 300;
	text-transform: uppercase;
	float: left;
	font-size: 240%;
}

.siteinfos a{
	color: black;
}

.siteinfos a:hover{
	text-decoration: none;
	color: #859c51;
}

/* Navbar layout */

.nav{
	float: right;
	text-align: right;
	font-size: 110%;
	font-weight: 300;
}

.nav ul{
	padding: 0.2em 0em;
}

.nav li{
	display: inline;
	margin-left: 0.5em;
}

.main-nav{
	border-bottom: 1px solid #ccc;
}

#page-navigation{
	margin-bottom: 1.5em;
	padding: 10px;
	background-color: #efefef;
}

blockquote{
	background-color: #efefef;
	padding: 0.8em !important;
	margin-bottom: 1.7em !important;
	text-align: left;
}

blockquote p{
	margin: 0px !important;
	padding: 0px !important;
}

.highlight{
	padding: 12px;
	margin-bottom: 1.7em;
	border: 1px solid #efefef;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	background-color: #fefefe;
}

.latest_post p{
	padding-bottom: 0.5em !important;
}

.readmore{
	margin-bottom: 1.5em !important;
	height: 2em;
}