@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);

html {
	font-weight: 400 !important;
	font-size: 62.5%;
	text-align: left;
	margin: 0px;
	padding: 0px;
	background-color: rgb(252,252,252);
}

/* Fonts and typography */

it, em{
	font-style: italic;
}

b, strong{
	font-weight: 700;
}

pre{
	font-family: 'Inconsolata';
}

code{
	font-family: 'Inconsolata';
	font-size: 113%;
}

body{
	font-family: 'Open Sans' !important;
	font-size: 1.5em;
	color: #1f1f1f;
	height:100%;
	margin: 0px auto;
	padding: 0px;
	width: 760px;
}

.content{
	/*background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);*/
	padding: 40px 0px;
	color: rgb(50, 50, 50);
}

.footer{
	font-weight: 300 !important;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

a, .postinfo a, a.postinfo{
	color: #51869c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* Page layout */

.pbody{
	margin: 10px auto;
	text-align: justify;
}

.pbody p{
	padding-bottom: 1.7em;
	line-height: 1.5em;
}

.pbody p code{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(248, 248, 248);
	background-color: rgb(255, 255, 255);
	padding: 0px 2px;
}

.pbody img{
	background-color: rgb(255, 255, 255);
	border: 9px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	padding: 1px;
	max-width: 742px;
	display: block;
	margin: 0px auto;
	margin-bottom: 1em;
}

.pbody h1{
	font-size: 1.25em;
	font-weight: 600;
}

.ptitle{
	font-size: 1.5em !important;
}

.ptitle, .pbody h1, .latest_post h1{
	color: rgb(20, 20, 20);
}

.upost{
	font-weight: 600;
}

.postinfo{
	font-weight: 300;
	color: #333;
	margin-bottom: 0.9em;
}

.precontent{
	width: 100%;
	height: 80px;
}

/* Header layour */

.siteinfos{
	margin: 20px auto;
}

.siteinfos h1{
	padding-top: 0.1em;
	font-weight: 300;
	text-transform: uppercase;
	float: left;
	font-size: 240%;
}

.siteinfos a{
	color: black;
}

.siteinfos a:hover{
	text-decoration: none;
	color: #859c51;
}

/* Navbar layout */

.nav{
	float: right;
	text-align: right;
	font-size: 110%;
	font-weight: 300;
}

.nav ul{
	padding: 0.2em 0em;
}

.nav li{
	display: inline;
	margin-left: 0.5em;
}

.main-nav{
	border-bottom: 1px solid #ccc;
}

#page-navigation{
	margin-top: 3em;
	margin-bottom: 1.8em;
	padding-top: 10px;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
}

blockquote{
	background-color: rgba(0, 0, 0, 0.01);
	padding: 0.8em !important;
	margin-bottom: 1.7em !important;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

blockquote p{
	margin: 0px !important;
	padding: 0px !important;
}

.highlight{
	padding: 12px;
	margin-bottom: 1.7em;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	background-color: rgb(255, 255, 255);
}

.latest_post p{
	padding-bottom: 0.5em !important;
}

.readmore{
	margin-bottom: 1.5em !important;
	height: 2em;
}

.Tags h2{
	font-weight: 600;
	font-size: 1.2em;
}

.Tags ul{
	margin-bottom: 1em;
}

div .tagcol {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
	font-size: 0.9em;
	text-align: left;
}

.tw-align-center{
	margin-bottom: 1.7em !important;
	padding-bottom: 1.7em;
}