@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
	font-size: 62.5%;
	text-align: left;
	margin: 0px;
	padding: 0px;
	background-color: rgb(255,255,255);
	background-image: url('../images/debut_light.png');
	font-family: "museo-sans" !important;
}

/* Fonts and typography */

it, em{
	font-style: italic;
	font-weight: inherit;
}

b, strong{
	font-weight: 500 !important;
}

pre{
	font-family: 'Inconsolata';
}

code{
	font-family: 'Inconsolata';
	font-size: 109%;
}

body{
	font-family: "museo-sans" !important;
	font-size: 1.6em;
	color: #1f1f1f;
	height:100%;
	margin: 0px auto;
	padding: 0px;
	width: 760px;
	font-weight: 300 !important;
}

.wrapper{
	background-color: #fff;
	padding: 1em 1em;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.content{
	/*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);*/
	padding: 40px 0px;
	color: rgb(50, 50, 50);
}

.footer{
	font-weight: 100 !important;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

a, .postinfo a, a.postinfo{
	color: #859c51;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* Page layout */

.pbody{
	margin: 10px auto;
	text-align: left;
}

.pbody p{
	padding-bottom: 1.7em;
	line-height: 1.5em;
	font-family: 'museo-slab';
}

.pbody p code{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(244, 244, 244);
	background-color: rgb(249, 249, 249);
	padding: 0px 2px;
}

.pbody img{
	background-color: rgb(255, 255, 255);
	border: 9px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	padding: 1px;
	max-width: 700px;
	display: block;
	margin: 0px auto;
	margin-bottom: 1em;
}

.pbody h1{
	font-size: 1.1em;
	font-weight: 700;
}

.ptitle{
	font-size: 1.6em !important;
}

.ptitle, .pbody h1, .latest_post h1{
	color: rgb(20, 20, 20);
}

.upost{
	font-weight: 700;
}

.postinfo{
	font-weight: 100;
	color: #333;
	margin-bottom: 0.9em;
}

.precontent{
	width: 100%;
	height: 80px;
}

/* Header layour */

.siteinfos{
	margin: 20px auto;
}

.siteinfos h1{
	padding-top: 0.1em;
	font-weight: 100;
	text-transform: uppercase;
	float: left;
	font-size: 260%;
}

.siteinfos a{
	color: black;
}

.siteinfos a:hover{
	text-decoration: none;
	color: #859c51;
}

/* Navbar layout */

.nav{
	float: right;
	text-align: right;
	font-size: 100%;
	font-weight: 100;
}

.nav ul{
	padding: 0.2em 0em;
}

.nav li{
	display: inline;
	margin-left: 0.5em;
}

.nav a{
	padding: 3px;
	border-radius: 4px;
}

.nav a:hover{
	background-color: #859c51;
	color: white;
	border-radius: 4px;
}

.outlink a:hover{
	background-color: #a0c265;
	color: white;
	border-radius: 4px;
}

.main-nav{
	border-bottom: 0px solid #ccc;
}

#page-navigation{
	margin-top: 3em;
	margin-bottom: 1.8em;
	padding-top: 10px;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
}

blockquote{
	background-color: rgba(0, 0, 0, 0.01);
	padding: 0.8em !important;
	margin-bottom: 1.7em !important;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

blockquote p{
	margin: 0px !important;
	padding: 0px !important;
}

pre{
	padding: 12px;
	margin-bottom: 1.7em;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	background-color: rgb(255, 255, 255);
}

.latest_post p{
	padding-bottom: 0.5em !important;
}

.readmore{
	margin-bottom: 1.5em !important;
	height: 2em;
}

.Tags h2{
	font-weight: 700;
	font-size: 1.2em;
}

.Tags ul{
	margin-bottom: 1em;
}

div .tagcol {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
	font-size: 0.9em;
	text-align: left;
}

.tw-align-center{
	margin-bottom: 1.7em !important;
	padding-bottom: 1.7em;
}

.aside p, p.aside{
	padding-bottom: 0px !important;
	font-family: 'museo-sans' !important;
}

.aside{
	color: #d75b07;
	float: right;
	clear: none;
	width: 270px;
	text-align: left;
	font-size: 0.7em;
	font-weight: 100;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: -0.5em;
	text-transform: uppercase;
}


a.extra.navlink.homelink:before{
	content: url(../images/me-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.homelink:hover:before{
	content: url(../images/me-l.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.paplink:before{
	content: url(../images/pap-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.paplink:hover:before{
	content: url(../images/pap-l.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.reslink:before{
	content: url(../images/res-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.reslink:hover:before{
	content: url(../images/res-l.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.codelink:before{
	content: url(../images/code-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.codelink:hover:before{
	content: url(../images/code-l.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.bloglink:before{
	content: url(../images/blog-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.bloglink:hover:before{
	content: url(../images/blog-l.gif);
	padding-right: 5px;
	display: inline-block;
}