@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

html {
	font-size: 62.5%;
}

/* Fonts and typograhpy */

body{
	font-family: sans-serif, 'Helvetica', 'Arial' !important;
	font-size: 1.1em;
	text-align: justify !important;
	color: #0c0c0c;
}

pre, code{
	font-family: monospace !important;
}

em{
	font-style: italic;
}

strong, b{
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans';
	font-weight: 700;
}

.unique_post, .unique_post h2, .latest_post h2, .latest_post p, .latest_post .read_more, .latest_post, .highlight, #page-navigation, .nav ul li, .pbody blockquote::before, .pbody blockquote, .siteinfos, .nav, .pbody, .ptitle, .content, .postcontent, .precontent, .pbody p, .nav ul li a, .nav ul li a:hover, .siteinfos p, .siteinfos h1, .misc.vcard h4{
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: auto;
	height: auto;
	position: static;
	top: auto;
	left: auto;
}

#disqus_thread{
	width: auto;
}