.d3{
	margin-bottom: 1.5em;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: #ccc;
  stroke-opacity: 0.6;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: steelblue;
}
